extends ../layout

block content

    h1 Author: #{author.full_name}
    p #{author.date_of_birth_formatted}

    div(style='margin-left:20px;margin-top:20px')

        h2(style='font-size: 1.5rem;') Ads
        if author_ads.length
            dl
                each ad in author_ads
                    dt
                        a(href=ad.url) #{ad.title}
                    dd #{ad.description}
        else
            p This author has no ads.
    hr
    p
        a(href=author.url+'/delete') Delete author
        hr
        a(href=author.url + '/update') Update author