extends ../layout

block content
    h1= title
    p= ad.title
    p Do you really want to delete this Ad?
    form(method='POST')
        div.form-group
            label(for='confirmPassword') Password:
            input#confirmPassword.form-control(type='text', placeholder='Password of ad' name='confirmPassword' required
            value=(undefined === confirm_password ? '' : confirm_password) )
        div.form-group
            input#authorid.form-control(type='hidden', name='adid', value=ad._id )

        button.btn.btn-primary(type='submit') Delete

    if error
        li!= error